@layer theme, base, mui, components, utilities;
@import "tailwindcss";

:root {
  /* --background-card: #fff;
  --background: #f0f0f0;
  --background-loading: #b0b0b0;
  --foreground: #000; */
  /* --background-card: #070707;
  --background: #1a1a1a;
  --background-loading: #2a2a2a;
  --foreground: #fff; */
  --background-card: #1a1a1a;
  --background: #070707;
  --background-loading: #2a2a2a;
  --foreground: #fff;
}

@theme inline {
  --color-background: var(--background);
  --color-background-card: var(--background-card);
  --color-loading: var(--background-loading);
  --color-foreground: var(--foreground);
  --color-primary: #ff3131;
  --color-subtitle: #b0b0b0;
  --font-text: var(--font-be-vietnam-pro-sans);
  --font-heading: var(--font-oswald-sans);
  --animate-move: move 500ms forwards;
  --animate-move-out: move-out 500ms forwards;

  @keyframes move {
    0% {
      left: -270px;
    }
    100% {
      left: 0;
    }
  }
  @keyframes move-out {
    0% {
      left: 0px;
    }
    100% {
      left: -270px;
    }
  }
}

/* DARK MODE */
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

/* @media (prefers-color-scheme: dark) {
  :root {
    --background-card: #070707;
    --background: #1a1a1a;
    --background-loading: #2a2a2a;
    --foreground: #fff;
    }
    } */

/* Dark mode */
html[data-theme="dark"] {
  --background-card: #1a1a1a;
  --background: #070707;
  --background-loading: #2a2a2a;
  --foreground: #fff;
}
@layer base {
  html,
  body {
    @apply max-w-screen overflow-x-hidden scroll-smooth text-foreground bg-background transition-colors duration-500;
  }
  body {
    @apply bg-background text-foreground font-text;
  }
  h1,
  h2,
  h3 {
    @apply font-heading;
  }
  h1 {
    @apply font-bold text-[clamp(1rem,5vw,2rem)];
  }
  h2 {
    @apply font-semibold  text-[clamp(0.875rem,4vw,1.5rem)];
  }
  h3 {
    @apply font-medium text-[clamp(0.75rem,3vw,1.25rem)];
  }
  p,
  span,
  a {
    @apply text-[clamp(0.875rem,2vw,1rem)] text-foreground;
  }
  button {
    cursor: pointer;
  }
}
@layer components {
  .btn-primary {
    @apply relative flex py-2.5 px-5 rounded-[100px] items-center justify-center [&_span]:text-white hover:[&_span]:text-primary
    overflow-hidden bg-primary font-semibold text-foreground transition-all duration-500 
     before:absolute before:size-full before:bg-white before:rounded-full before:scale-0 hover:before:scale-100 before:transition-all hover:text-primary before:duration-500 before:inset-0 disabled:cursor-not-allowed
     disabled:brightness-50 disabled:hover:before:scale-0 disabled:hover:text-white disabled:hover:[&_span]:text-foreground;

    span {
      @apply relative z-10;
    }
  }
  .btn-secondary {
    @apply bg-transparent border-1 border-foreground text-foreground before:bg-primary [&_span]:text-foreground hover:[&_span]:text-white hover:border-primary w-full;
  }
  .container {
    @apply h-fit mx-auto px-5;
  }

  .slick-dots {
    @apply flex! gap-7.5 max-lg:gap-4 justify-center bottom-0! pb-7.5! pt-10! max-lg:py-5!  absolute! z-10;
    li {
      @apply w-fit! h-fit! m-0! lg:[&.slick-active_div]:scale-115! lg:[&.slick-active_div]:shadow-[0_0_10px_3px] max-lg:[&.slick-active_div]:scale-115! max-lg:brightness-50
      [&.slick-active_div_img]:brightness-60! max-lg:[&.slick-active]:brightness-100
      [&.slick-active_div_p]:text-white!
      [&.slick-active_div_p]:bottom-1/2!
      [&.slick-active_div_p]:translate-y-1/2
      lg:[&.slick-active_div]:border-b-4 lg:[&.slick-active_div]:border-b-primary;
    }
  }
}
@layer utilities {
  .logo-size {
    width: clamp(120px, 20vw, 150px);
  }

  .text-icon {
    font-size: clamp(1.325rem, 3vw, 1.5rem);
  }
  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .flex-column {
    display: flex;
    flex-direction: column;
  }
  .absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  input[type="search"]::-webkit-search-cancel-button {
    filter: invert(24%) sepia(96%) saturate(7493%) hue-rotate(358deg)
      brightness(93%) contrast(119%);
    cursor: pointer;
  }
  .no-scrollbar {
    @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
  }

  .scroll-bar::-webkit-scrollbar {
    width: 10px;
  }

  /* Track background */
  .scroll-bar::-webkit-scrollbar-track {
    background: #1a1a1a; /* màu nền bạn thích */
  }

  /* Thumb (cục kéo) */
  .scroll-bar::-webkit-scrollbar-thumb {
    background: #b0b0b0; /* màu tương phản */
    border-radius: 6px;
  }

  .scroll-bar::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
  }
}
